[submodule "learn/anki-revision"]
	path = learn/anki-revision
	url = https://github.com/ryzdev/anki-revision.git
[submodule "learn/math-app"]
	path = learn/math-app
	url = https://github.com/ryzdev/math-app.git
[submodule "learn/knowdays"]
	path = learn/knowdays
	url = https://github.com/ryzdev/knowdays.git
[submodule "tools/interval-timer"]
	path = tools/interval-timer
	url = https://github.com/ryzdev/interval-timer.git
[submodule "learn/atomic-habits"]
	path = learn/atomic-habits
	url = https://github.com/ryzdev/atomic-habits.git
[submodule "learn/attached"]
	path = learn/attached
	url = https://github.com/ryzdev/attached.git
[submodule "learn/mindmaps"]
	path = learn/mindmaps
	url = https://github.com/ryzdev/mindmaps.git
